{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
body{background-image: url('{% static 'img/author_detail_background.jpg' %}');background-size:100%;}
.thumbnail{background-color:azure}
.author{background-color:#040811;color:whitesmoke !important}
.container-fluid{max-width:100%}
</style>


<div class='row'>
<div class='col-xs-12 '>
		<a href="{% url 'Posts:list' %}"><span class="glyphicon glyphicon-remove" style="float:right;margin-top:10px;margin-right:10px"></span></a>

				<div class="thumbnail author col-sm-5 col-sm-offset-3" style="margin-top:20px">
			 {% if author.profile_pic %}<img src="{{ author.profile_pic.url }}" class="img-responsive" style="height:160px;width:160px;float:left;margin:5px 15px 20px 10px;border:0.8px solid grey">{% endif %}

			 {% if author.Author.get_full_name %}<span style="display:flex"><h2 style="margin:10px 5px 5px 15px;font-weight:900;">Name :</h2><span style="font-weight:800;font-size:24px;margin-top:14px"> {{ author.Author.get_full_name }}</span></span>{% endif %}
			 {% if author.work %}<h4 style="margin:10px 5px 5px 15px;font-weight:900;">Work : </h4>{{ author.work }}{% endif %}
			{% if author.address %}<h4 style="margin:10px 5px 5px 15px;font-weight:900;">Address :</h4> {{ author.address }}{% endif %}
			<br> {% if author.author_bio %}<h4 style="margin:10px 5px 5px 15px;font-weight:900 !important;">About {{ author|capfirst }} :</h4> {{ author.author_bio }}{% endif %}
			<h4><span style="background-color:greenyellow;padding:0.3px;margin-bottom:0px">{{ author.timestamp|date }}</span></h4>&nbsp;
		</div>
    <br/>
</div>
</div>
<div class="header col-sm-4 col-sm-offset-4" style="background-color:#36a09d;margin-left:30%;margin-top:-10px;margin-bottom:20px;border:1px solid #222;border-radius:5px;text-align:center">

<h3>Posts By {{ author.full_name }} :-</h3>
</div>
<div class="container-fluid">
	<div >
				{% for post in posts %}
				<div class="thumbnail col-sm-5 col-sm-offset-3" >
					<a href="{{ post.get_absolute_url }}"><h2 style="margin:30px 5px 13px 15px;text-decoration:none;font-weight:900;">{{ post.title|upper }}</h2></a>			
								
					{% if post.image %}<img src="{{ post.image.url }}" class="img-responsive" style="height:160px;width:160px;float:left;margin:5px 15px 10px 20px;border:0.8px solid grey">{% endif %}
					<div class="content-markdown">{{ post.content|truncatechars:250 }}</div>
					<h4><span style="background-color:greenyellow;float:right !important;padding:0.3px">{{ post.timestamp|date }}</span></h4>&nbsp;
				</div>
					
				{% endfor %}

		
		</div>
		
</div>
{% endblock content %}
