{% extends 'base.html' %}
{% block content %}
		<form class="navbar-form"  method='GET' action=''> {% csrf_token %}
				<div class="form-group">
						<input class="form-control " type="text" id="comment_input" placeholder="Post Comment" value='{{ request.POST.get }}' name='comment_query'>
					</div>
				<button class="btn btn-primary"  id="comment_btn" type="submit" >Comment</button>
		</form>

{% if comments %}
			{% for comment in comments %}
				<div class="thumbnail">
						Comment:{{ comment.content }}
				</div>
			{% endfor %}
            {% endif %}
            
{% endblock %}