{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>BLOG</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		body {
			background-color: #333
		}

		#logout {
			position: absolute;
			top: 18px;
			right: 24px
		}

		.navbar-form {
			position: absolute;
			right: 120px
		}

		.carousel-caption h3 {
			color: black;
			font-weight: bold;
			font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
		}

		#myCarousel {
			background-color: black !important;
			border: 1px solid black;
			max-width: 98.8%;
			margin: auto;
			margin-top: -10px;
		}

		.navbar {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		#list-headings {
			background-color: #af0b05;
			padding: 6px;
			text-align: center;
			max-width: 98.8%;
			margin: auto;
		}
		#search{	
			background-color: #af0b05;
			margin-bottom:60px !important;
			text-align: center;
			max-width: 98.8%;
			margin: auto;
		}

		#list-headings a {
			text-decoration: none;
		}

		.link {
			height: 50px;
			text-align: center
		}

		.link:hover {
			background-color:#7c2d15;
			border-radius: 5px
		}

		.link2:hover {
			background-color:#555;
			border-radius: 5px
		}

		.acti {
			background-color: #000;
			border-radius: 5px
		}

		.category-links.small {
			font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
			font-size: 20px;
			margin: 8px 10px -13px 10px;

			color: white;
			text-decoration: none;
		}

		#list {
			background-color: seashell;
			max-width: 98.8%;
			margin: auto;
			border-right: 1.5px solid grey
		}

		.item {
			border-bottom: 0.8px solid grey;
			color: #333;
			
		}
		.item h2:hover{color:#666}
	</style>
</head>


<body>
	<div class="container-fluid">
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
				<a class="navbar-brand">BLOG</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
				<li><a href="{% url 'Posts:create' %}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Create</a></li>
				<li><a href=""><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span>&nbsp;Chat Room</a></li>
				&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;Hello {{ current_user.first_name|capfirst }}</a>

			</ul>
	
			<a href="{% url 'logout' %}"><button class="btn btn-info" id="logout" type="submit" style ><span class="glyphicon glyphicon-log-out"><span style="font-size:14px;margin-left:-4px;padding-top:-4px"> Logout</span></span></button></a>



		</nav>
	</div>
	<div class="container-fluid">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
				<li data-target="#myCarousel" data-slide-to="4"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">

				<div class="item active">
					<img src="{% static 'img/carousel-1.jpg' %}" alt="Los Angeles" style="width:100%;height:470px;">
					<div class="carousel-caption">
						<h3>TRAVEL</h3>
						<p>LA is always so much fun!</p>
					</div>
				</div>

				<div class="item">
					<img src="{% static 'img/carousel-2.jpg' %}" alt="Chicago" style="width:100%;height:470px;">
					<div class="carousel-caption">
						<h3>EXPLORE</h3>
						<p>Thank you, Chicago!</p>
					</div>
				</div>

				<div class="item">
					<img src="{% static 'img/carousel-3.jpg' %}" class="img-responsive" alt="New York" style="width:100%;height:470px;">
					<div class="carousel-caption">
						<h3>SHARE WITH US</h3>
						<p>We love the Big Apple!</p>
					</div>
				</div>
				<div class="item">
					<img src="{% static 'img/carousel-4.jpg' %}"
					 alt="New York" style="width:100%;height:470px;" class="img-responsive">
					<div class="carousel-caption">
						<h3>CHASE YOUR DESTINY</h3>
						<p>Coz it's meant to be different!</p>
					</div>
				</div>
				<div class="item">
					<img src="{% static 'img/carousel-5.jpg' %}" alt="New York" style="width:100%;height:470px;" class="img-responsive">
					<div class="carousel-caption">
						<h3>FIND YOUR MATES</h3>
						<p>They were always there..Waiting for you!!</p>
					</div>
				</div>

			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row " id='list-headings'>
			<div class="col-sm-5">
				<p style="margin:2px -13px -15px -50px;padding:11px 11px;font-size:20px; color:white"><b>Recent Posts</b></p>
							
			</div>
<div class="col-sm-4 ">
	</div>


			<div class="col-sm-3 ">
				
					<h4 class="category-links large" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
									font-size:20px;
									font-weight:900;
									margin:9px -15px -5px 0px;margin-left:-10px;
									color:white;text-decoration:none;">Authors</h4>
					
			</div>
		</div>
	</div>
		<div class="container-fluid body" style="background-color:#af0b05;max-width:96.6%">
		<div class="row " id='search'>
			<div class="col-sm-5">
				<form class="navbar-form"  method='POST' action=''> {% csrf_token %}

					<div class="form-group">
						<input class="form-control " type="text" id="search_text" placeholder="Search Posts" value='{{ request.POST.get }}' name='q'>
					</div>
					<button class="btn btn-primary"  id="search_btn" type="submit" >Search</button>
				</form>

			</div>
		
							<div class="col-sm-2 link acti" style="margin-bottom:-30px;border-left:1px solid grey;">
								<a href="" style="text-decoration:none">
									<p class="category-links small" id="videos_link">Videos</p>
								</a>


							</div>
							<div class="col-sm-2 link " style="margin-bottom:-30px;border-right:1px solid grey;">
								<a href=""  style="text-decoration:none">
									<p class="category-links small" id="most_liked_link">Popular Posts</p>
								</a>

							</div>
			

			<div class="col-sm-3 " >
				<form style="display:flex" class="navbar-form" method='POST' action=''> {% csrf_token %}

					<div class="form-group">
						<input class="form-control " style="margin-right:10px" type="text" id="search_authors" placeholder="Search Authors" value='{{ request.POST.get }}' name='query'>
					</div>
					<button class="btn btn-primary" style="margin-right:-130px" id="search_btn2" type="submit">Search</button>
				
				</form>

			</div>
		</div>

	</div>


	<div class="container-fluid" style="background-color:#222">
		<div class="row" id='list' >
			<div class="col-sm-5" style="background-color:#222">
						
				<div class="item content-markdown posts-list" style="border-bottom:.5px solid black !important;margin-top:18px;margin-bottom:4px">
									
					<div id="searcher">
					{% for post in posts_list %}
					<div class="posts_list thumbnail" style="background-color:#c7c9cc">
					{% if post.image %}<img src="{{ post.image.url }}" class="img-responsive" style="height:150px;width:140px;float:left;margin:10px 15px 10px 20px;border:0.8px solid grey">{% endif %}
					<a href="{{ post.get_absolute_url }}" style="text-decoration:none;color:black;"><h2 style="margin:10px 5px 13px 15px;font-weight:900;">{{ post.title }}</h2></a>
					<h4><span style="background-color:#9423c4;padding:0.3px">{{ post.timestamp|date }}</span>&nbsp; POSTED BY <b>{{ post.Author.get_full_name }}</b></h4>
					<div class="content-markdown" style="margin-bottom:20px">{{ post.content|truncatechars:90 }}</div>
				
					</div>
					{% endfor %}<br>
				</div>
				</div>
								<div class="pagination posts" style="margin-left:25% !important;">
									<span class="step-links">
								{% if posts_list.has_previous %}
									<a href="?page1={{ posts_list.previous_page_number }}"><button type="button" class="btn next_prev" 
									style="background-color:#14247a;color:white;">previous</button></a>
								{% endif %}

								<span class="current" >
									<span style="color:white;">Page <b>{{ posts_list.number }}</b> of {{ posts_list.paginator.num_pages }}</span>
								</span> {% if posts_list.has_next %}
									<a href="?page1={{ posts_list.next_page_number }}"><button type="button" class="btn next_prev"
									 style="background-color:#14247a;color:white;">next</button></a>  {% endif %}
									</span>
								</div>
					<a href="{% url 'Posts:posts_list' %}"><button type="button" class="btn btn-info">View All</button></a>
			
			</div>
			<div class="col-sm-4" id="middle-div" style="background-color:#111;color:white !important;margin-top:0px;padding-bottom:40px">
				<div class="videos" style="padding-top:20px">
					<div class="vid-1"> 
						<h2 id="heading-vid-1" style="margin:35px 5px 13px 15px;font-weight:900;text-align:center">Around the World!!</h2>
						<iframe id="vid-1" width="400" height="190" src="https://www.youtube.com/embed/RcmrbNRK-jY"  frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="vid-2">
						<h2 id="heading-vid-2" style="margin:35px 5px 13px 15px;font-weight:900;text-align:center">Most Affordable Destinations!!</h2>
						<iframe  id="vid-2" width="400" height="210" src="https://www.youtube.com/embed/sRyslbdtT90" frameborder="0" allowfullscreen></iframe>
						
					</div>

					<div class="col-sm-2">
						<button type="button" id="videos-prev" class=btn style="background-color:#14247a;margin:23px 20px -23px 200px;color:white;">Prev</button>
					</div>
					<div class="col-sm-2">
						<button type="button" id="videos-next" class=btn style="background-color:#14247a;margin:23px 30px -23px 50px;color:white;">Next</button>
					</div>
				</div>
			</div>
			<div class="col-sm-3" style="background-color:#222 !important ">
			<div class="item authors" style="border-bottom:.5px solid black !important;">
				<div id="searcher2" style="margin-top:20px;">
				{% for author in authors_list %}
						<div class="authors_list thumbnail" style="background-color:#d6dbda;padding:-10px -10px">
							<img src="{{ author.profile_pic.url }}" class="img-responsive" style="float:left;border-radius:80%;height:120px;width:120px;margin:25px 10px 5px 10px;">
							<a href="{{ author.get_absolute_url }}" style="text-decoration:none;color:black"><h2 style="margin:30px 5px 13px 15px;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;font-weight:900;margin-top:35px;">{{ author.full_name}}</h2></a>
							<h4>{{ author.work|truncatechars:60 }}</h4>
							<hr>
						</div>
					{% endfor %}
			<hr>
			</div>
				
					<div class="pagination authors" style="margin-left:5px !important;margin-top:2px;margin-bottom:11px">
						<span class="step-links">
								{% if authors_list.has_previous %}
									<a href="?page2={{ authors_list.previous_page_number }}"><button type="button" class="btn next_prev" style="background-color:#14247a;color:white;margin-top:-5px;margin-left:35px">previous</button></a>
								{% endif %}

								<span class="current" >
									<span style="color:white;">Page <b>{{ authors_list.number }}</b> of {{ authors_list.paginator.num_pages }}</span>
								</span> 
								{% if authors_list.has_next %}
									<a href="?page2={{ authors_list.next_page_number }}"><button type="button" class="btn next_prev" style="background-color:#14247a;color:white;margin-top:-5px;margin-right:0px !important">next</button></a>
								{% endif %}
						</span>
					</div>
					<a href="{% url 'Posts:authors_list' %}"><button type="button" class="btn btn-info">View All</button></a>
		</div>

	</div>

	<script>
		$(document).ready(function () {
			$('.link').on('click', function (e) {
				e.preventDefault();
				$(".acti").removeClass("acti");
				$(this).addClass("acti")
				
			})
			$('#videos_link').on('click',function(){
				$('.videos').show();

			})
			$('#most_liked_link').on('click',function(){
				$('.videos').hide();
				

			})


			var count=0
			$('#videos-prev').hide()
			function vid_display(count) {
					switch (count) {
						case 1:
							$('#heading-vid-1').text("Pro Packing Tips.!!")
							$('#vid-1').attr("src", "https://www.youtube.com/embed/KT7KJPagp-I")

							$('#heading-vid-2').text("Top 10 Packing Essentials.!!")
							$('#vid-2').attr("src", "https://www.youtube.com/embed/vCQE-D6AqNY")
							break;
						case 2:
							$('#heading-vid-2').text("3 Years Travel in 3 minutes.!!")
							$('#vid-2').attr("src", "https://www.youtube.com/embed/wJF5NXygL4k")

							$('#heading-vid-1').text("Tips for Solo Travel.!!")
							$('#vid-1').attr("src", "https://www.youtube.com/embed/cK3wK1bS7Do")
							break;
						case 3:
							$('#heading-vid-2').text("The Hong Kong Experience.!!")
							$('#vid-2').attr("src", "https://www.youtube.com/embed/w1uoP9ZBDO8")

							$('#heading-vid-1').text("Tropical Paradise.!!")
							$('#vid-1').attr("src", "https://www.youtube.com/embed/JFh38v0HJyQ")
							break;
						case 4:
							$('#heading-vid-2').text("How to Travel with No Money..!!")
							$('#vid-2').attr("src", "https://www.youtube.com/embed/R7vmHGAshi8")

							$('#heading-vid-1').text("Travel Inspiration.!!")
							$('#vid-1').attr("src", "https://www.youtube.com/embed/8Ulrn4D3M_Y")
							break;
						case 5:
							$('#heading-vid-2').text("Countries to visit in 2017..!!")
							$('#vid-2').attr("src", "https://www.youtube.com/embed/Bwoz31mUzoc")

							$('#heading-vid-1').text("25 Must Visit Places.!!")
							$('#vid-1').attr("src", "https://www.youtube.com/embed/k4tkrJ563b0")
							break;
						case 6:
							$('#heading-vid-1').text("10 Best Cities..!!")
							$('#vid-1').attr("src", "https://www.youtube.com/embed/IQVdvGRkfKs")

							$('#heading-vid-2').text("10 Most Expensive Places.!!")
							$('#vid-2').attr("src", "https://www.youtube.com/embed/OEgkqVbnv3E")
							break;
						case 7:
							$('#heading-vid-1').text("10 Best Airports..!!")
							$('#vid-1').attr("src", "https://www.youtube.com/embed/HUIBUYdEPPg")

							$('#heading-vid-2').text("Places to Visit in Canada.!!")
							$('#vid-2').attr("src", "https://www.youtube.com/embed/5jxexBzT20Y")
							break;
						case 8:
							$('#videos-next').hide();
							break;
						default:
							count =1;
							$('#videos-prev').hide();
							$('#videos-next').show();
							vid_display(count)

					}
				}
			
		    $('#videos-next').on('click',function(){
			$('#videos-prev').show()
			count+=1;
			vid_display(count)
			})
			$('#videos-prev').on('click', function () {
				$('#videos-next').show();
				count=count-1;
				vid_display(count)
			})

			$('.next_prev').on('click',function(){

				$('html,body').animate({scrollTop: $(".item.authors").offset().bottom}, 2000);
            });
		
					$("#search_btn").on('click', function (e) {
					var val = $('#search_text').val();
					e.preventDefault();
					if(val!=""){
					$.ajax({
						type: 'POST',
						dataType: 'json',
						url: '/searchPosts/',
						data: {
							'q': val,
							csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
						},
						success: function (result) {
							$('.pagination.posts').hide();
							$('.posts_list').remove();
							$('#searcher').empty();
							var len = (result['result'].length);
							console.log(len)
							for (var i = 0; i < len; i++) {

								title = result['result'][i]['title']
								content = result['result'][i]['title']
								image = result['result'][i]['image']
								full_name = result['result'][i]['full_name']
								timestamp = result['result'][i]['timestamp']
								var date=new Date(timestamp)
								var d=date.toDateString();

								updated = result['result'][i]['updated']
								slug = result['result'][i]['slug']
								var get_abs_url = "{% url 'Posts:postdetail' slug=12345 %}".replace(/12345/, slug);
								console.log(updated)
									$('#searcher').append( '<div class="posts_list thumbnail"style="background-color:#ccc"><img src=" ' + image + '" class="img-responsive" style="height:150px;width:140px;float:left;margin:10px 15px 10px 20px;border:0.8px solid grey">'+
									'<a href=" ' + get_abs_url + ' " style="text-decoration:none;color:black;"><h2 style="margin:10px 5px 13px 15px;font-weight:900;">' + title + '</h3></a>' +
										'<h4><span style="background-color:#9423c4;padding:0.3px">'+d+'</span>&nbsp; POSTED BY <b>'+ full_name + '</b></h4>'+
										
										'<div class="content-markdown">' + content + '</div><hr></div>')
												
							}
						}

					});
					}
				});

							$("#search_btn2").on('click', function (e) {
									var val = $('#search_authors').val();
									console.log(val)
									e.preventDefault();
									if (val != "") {
									$.ajax({
										type: 'POST',
										dataType: 'json',
										url: '/searchAuthors/',
										data: {
											'query': val,
											csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
										},
										success: function (result) {
											console.log('inside search function')
											$('.pagination.authors').hide();
											$('.authors_list').remove();
											$('#searcher2').empty();
											var len = (result['result'].length);
											for (var i = 0; i < len; i++) {
												pk=		result['result'][i]['pk']
												work = result['result'][i]['work']
												address = result['result'][i]['address']
												full_name = result['result'][i]['full_name']
												profile_pic=result['result'][i]['profile_pic']
												var get_abs_url = "{% url 'Posts:authordetail' pk=12345 %}".replace(/12345/, pk);
													$('#searcher2').append('<div class="authors_list thumbnail" style="background-color:#ccc"><img src=" ' + profile_pic + '" class="img-responsive" style="float:left;border-radius:80%;height:120px;width:120px;margin:5px 10px 5px 10px;">' +
														'<a href=" ' + get_abs_url + ' " style="text-decoration:none;color:black;"><h2 style="margin:30px 5px 13px 15px;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;font-weight:900;">' + full_name + '</h3></a>' +
													    '<p>'+ work +'....</p><hr></div>')
											}

										}

									});
									}
								});
							
									
		})

	</script>

</body>

</html>