{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  body{background-image:url('https://s-media-cache-ak0.pinimg.com/originals/fc/60/2a/fc602aac6ab442da2c94436b2e6ed068.jpg');background-size:100% 100%}
.container{background-image:url('http://cdn.wallpapersafari.com/73/78/je0icI.jpg');background-size:100% 100%;color:white;margin-top:20px}


</style>


    <div class="container thumbnail">
      <div class="row" style="float:right">
      <a href="{% url 'Posts:change_password' %}" ><span class="glyphicon glyphicon-refresh" style="right:22px;font-size:18px"></button></a>

				<a href="{% url 'Posts:list' %}"><span class="glyphicon glyphicon-remove" style="right:20px;font-size:18px"></span></a>
      
</div>
        <h1 style="text-align:center">CHANGE PASSWORD</h1>

              {% include 'messages.html' %}<br><br>
      <div class="col-xs-4 col-xs-offset-4">
        <form action="" method="POST" enctype="multipart/form-data">
          		{% csrf_token %}
               {{ form|crispy}}
    <br>
    <div class="form-group row">
      <div style="text-align:center">
        <a href="{% url 'Posts:change_password' %}"><button type="submit" name="submit" id="signup" class="btn btn-primary">Reset</button></a>
      </div>
    </div>

</form>
  </div>
</div>
{% endblock %}