{% extends 'base.html' %}
{% block content %}

	<div class="thumbnail col-sm-5 col-sm-offset-3" style="text-align:center;">
			<h3>{{ object.title|upper }}</h3>
			<div class='content-markdown'>{{ object.content }}</div>
			
			{% if object.image %}
			<img src="{{ object.image.url  }}" style="width:430px;height:400px">
			{% endif %}
			{% if object.Author.get_full_name %}
			<b>Author </b>:{{ object.Author.get_full_name  }}
			{% endif %}</br>
			<b>Created </b>: {{ object.timestamp }}<br>
   {% if object.edited %}Edited{% endif %}

<div class='row'>
<div class='col-sm-12 '>

    <hr/>
    <br/>
</div>
</div>


			<a href="{% url 'Posts:list' %}"><button class="btn btn-primary">Back</button></a>
</div>

		<br></br>

{% endblock content %}
