{% extends 'base.html' %}
{% block content %}

	<div class="thumbnail col-sm-5 col-sm-offset-3" style="text-align:center;">
			<h3>{{ object.title|upper }}</h3>
			{% if object.image %}
			<img src="{{ object.image.url  }}" style="width:150px;height:150px">
			{% endif %}
			<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook</a>&nbsp;
			<a href="https://twitter.com/home?status={{ share_string }}%20{{ object.content|truncatechars:80 }}">Twitter</a>&nbsp;
			<a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title={{ object.title }}&source={{ request.build_absolute_uri }}">Linkedin</a>&nbsp;
			{{ object.content }}<br>
			{% if object.Author %}
			Author:{{ object.Author  }}
			{% endif %}</br>
			Created: {{ object.timestamp }}<br>
			Updated:{{ object.updated|timesince }} ago <br><br>
			<a href="{% url 'Posts:list' %}"><button class="btn btn-primary">Back</button></a>
			
			
		<br></div></br>
	
{% endblock content %}