{% extends 'base.html' %}
{% block content %}

<style>
body{background-image:url('http://wallpapercave.com/wp/UoQbFHi.jpg')}
.list{left:6%}
.posts_list{background-image:url('https://wallpaperscraft.com/image/line_light_background_bright_43975_2560x1600.jpg')}
.posts_head{text-align: center;color:aquamarine;background-color:#111;}
.glyphicon{position:absolute;float:right;margin-top: 10px;margin-right:10px;}
</style>
<div class="row">
	<div class="col-xs-12 posts_head">

		<h1 style="text-align:center">POSTS<h1>
				<a href="{% url 'Posts:posts' %}" ><span class="glyphicon glyphicon-refresh" style="right:42px;font-size:18px"></button></a>

				<a href="{% url 'Posts:list' %}"><span class="glyphicon glyphicon-remove" style="right:14px;font-size:18px"></span></a>
			<div class="col-sm-6 col-sm-offset-3 " >
				<form class="navbar-form"  method='POST' action=''> {% csrf_token %}

					<div class="form-group">
						<input class="form-control " type="text" id="search_text" placeholder="Search Posts" value='{{ request.POST.get }}' name='q'>
					</div>
					<button class="btn btn-primary"  id="search_btn" type="submit" >Search</button>
				</form>

			</div>

	</div>
</div>
<div class='row'>
<div class='col-xs-12 list'>			
	 
		<div id="searcher">
		{% for post in posts_list %}
			<div class="thumbnail posts_list col-sm-5 col-sm-offset-3" style="margin:10px;padding:13px;max-height:330px">
				 {% if post.image %}<img src="{{ post.image.url }}" class="img-responsive" style="height:160px;width:160px;float:left;margin:5px 15px 20px 10px;border:0.8px solid grey">{% endif %}

				 {% if post.title %}<a href="{{ post.get_absolute_url }}" style="text-decoration:none;color:black;"><h2 style="margin-top:25px;margin-left:10px;font-weight:900;"> {{ post.title|capfirst }}</h2></a>{% endif %}
				 <h4><span style="padding:0.3px">{{ post.timestamp|date }}</span>&nbsp; POSTED BY <b>{{ post.Author.get_full_name }}</b></h4>
				 <div class="content-markdown" style="margin-bottom:20px">{{ post.content|truncatechars:90 }}</div>
			</div>
		{% endfor %}
		</div>
	</div>

				<div class="pagination posts" style="margin-left:44% !important;margin-top:2px;margin-bottom:11px">
						<span class="step-links">
					{% if posts_list.has_previous %}
						<a href="?page1={{ posts_list.previous_page_number }}"><button type="button" class="btn next_prev" 
						style="background-color:#14247a;color:white;margin-top:-5px;margin-left:35px">previous</button></a>
					{% endif %}

					<span class="current" >
						<span style="color:white;">Page <b>{{ posts_list.number }}</b> of {{ posts_list.paginator.num_pages }}</span>
					</span> {% if posts_list.has_next %}
						<a href="?page1={{ posts_list.next_page_number }}"><button type="button" class="btn next_prev"
						 style="background-color:#14247a;color:white;margin-top:-5px;margin-right:0px !important">next</button></a>  
						 {% endif %}
						</span>
					</div>
				</div>

<script>
$(document).ready(function(){

$("#search_btn").on('click', function (e) {
	var val = $('#search_text').val();
	e.preventDefault();
	if(val!=""){
	$.ajax({
		type: 'POST',
		dataType: 'json',
		url: '/searchPosts/',
		data: {
			'q': val,
			csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
		},
		success: function (result) {
			$('.pagination.posts').hide();
			$('.posts_list').remove();
			$('#searcher').empty();
			var len = (result['result'].length);
			console.log(len)
			for (var i = 0; i < len; i++) {

				title = result['result'][i]['title']
				content = result['result'][i]['content']
				image = result['result'][i]['image']
				full_name = result['result'][i]['full_name']
				timestamp = result['result'][i]['timestamp']
				var date=new Date(timestamp)
				var d=date.toDateString();

				updated = result['result'][i]['updated']
				slug = result['result'][i]['slug']
				var get_abs_url = "{% url 'Posts:postdetail' slug=12345 %}".replace(/12345/, slug);
				console.log(title)
				console.log(content)
				console.log(full_name)
				console.log(timestamp)
					$('#searcher').append('<div class="thumbnail posts_list col-sm-6 col-sm-offset-3" style="margin:10px;margin-left:20%;padding:13px;max-height:330px">' +
				 '<img src=" '+ image +' " class="img-responsive" style=height:160px;width:160px;float:left;margin:5px 15px 20px 10px;border:0.8px solid grey'+
				 '<a href=" ' +get_abs_url+ ' " style="text-decoration:none;color:black;">'+
				  '<h2 style="margin-top:25px;margin-left:10px;font-weight:900;"> '+title +'</h2></a>'+
				 '<h4><span style="padding:0.3px">'+d+'</span>&nbsp; POSTED BY <b>'+full_name+'</b></h4>'+
				 '<div class="content-markdown" style="margin-bottom:20px">'+content+'</div>')
							}
						}

					});
					}
				});


});

</script>



{% endblock %}