{% extends 'base.html' %}
{% block content %}
<style>
body{background-image: url('http://1.bp.blogspot.com/-teEj3rZUjQk/UUhq1P2EFsI/AAAAAAAAjXU/c94NKqiCFVQ/s1600/Travel++HD+wallpapers+(3).jpg');background-size:100%}
.thumbnail{background-color:linen}
</style>
	<div class="thumbnail col-sm-5 col-sm-offset-3" style="text-align:center;">
		<a href="{% url 'Posts:list' %}"><span class="glyphicon glyphicon-remove" style="float:right;"></span></a>
<h2 style="margin:30px 5px 13px 15px;font-weight:900;">{{ object.title|upper }}</h2>			
			
{% if object.image %}<img src="{{ object.image.url }}" class="img-responsive" style="height:160px;width:160px;float:left;margin:5px 15px 0px 20px;border:0.8px solid grey">{% endif %}
<div class="content-markdown">{{ object.content }}</div>

<hr>

<div class='row'>
<div class='col-sm-12 '>

    <br/>
</div>
</div>


			<a href="{{ object.get_like_url }}" style="color:white"><button type="button" name="button" style="padding:6px 16px 6px 16px;margin-left:35%" class="btn btn-primary" value="Like"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;{{ object.likes.count }}</button></a>
<span style="margin-top:80px !important"><p style="float:right;margin-bottom:2px;font-size:20px"><b>{{ object.Author.get_full_name }}</b></p><p style="margin-left:80%;margin-bottom:20px !important">{{ object.timestamp|date }}</p></span>

</div>

		<br></br>

{% endblock content %}
